body {
  background-color: #333 !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgba(105, 103, 103, 0.25);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 5em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

/* Input style */
.input-group input:focus {
  border-color: #86b7fe;
  box-shadow: none;
}

.input-group-text {
  border: none !important;
  color: #86b7fe;
  background-color: #fff;
}

/* Btn styles */
.form-btn {
  color: #ff2525;
  font-size: larger;
  font-weight: 1200 !important;
  text-shadow: 1px 1px #000;
  border: 1px solid #51504a;
  padding: 8px;
  border-radius: 6px;
  background-color: var(--btnBg);
  box-shadow: 4px 4px 10px #51504a !important;
}

.form-btn:hover {
  transition: 0.5s;
  box-shadow: 3px 4px 5px #a09d90 !important;
}

/* Checkbox */
.cyberpunk-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #dfdfdf;
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.cyberpunk-checkbox:before {
  content: "";
  background-color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.cyberpunk-checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.cyberpunk-checkbox-label {
  font-size: 14px;
  /* color: #000000; */
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

/* verify validate */
.error {
  background-color: red;
}
