@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:wght@100;400&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* ###################### Global styles  */
:root {
  --buyer-color: #2274a5;
  --traveler-color: #f75c03;
}

body {
  background-color: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif !important;
}

p,
a,
li,
span,
input,
label,
textarea {
  font-family: "Raleway", sans-serif;
}

button {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

p a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #8c8a8a;
}

.cursor {
  cursor: pointer;
}

/* Small Device */
@media (max-width: 576px) {
}
/* Medium Device */
@media (min-width: 768px) {
}
/* Large Device */
@media (min-width: 992px) {
}

.note {
  font-size: clamp(13px, 3vw, 16px) !important;
}

/* Menu */
.menu {
  position: fixed;
  top: 4.1em;
  width: 100%;
  line-height: 10px;
  height: 100svh;
}
